{% extends 'base.html' %}

{% block title %}
    {{ item.title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}


{% block content %}


    <div class="card mb-3">
        <div class="card-header">
            Категория: <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
        </div>
        <div class="card-body">
            {% if item.photo %}
                <img src="{{ item.photo.url }}" alt="" width="200" class="float-left mr-3">
            {% else %}
                <img src="https://picsum.photos/200/300?grayscale" alt="" class=" float-leftmr-3">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text ">{{ item.content|safe|linebreaks }}</p>
                <a href="#" class="btn btn-primary">Читать далее...</a>
            </div>
        </div>
        <div class="card-footer text-muted">
            {{ item.created_at|date }}
        </div>
    </div>

{% endblock %}


